XmlValidator.Tests/TestFiles/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:byte" name="Id"/>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:byte" name="Age"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>